@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.section1{
    background-color: #41C2F4;     
}
h1{
    text-align: center;
    font-size: 81px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 500;
}
