@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
h1{
    text-align: center;
    font-size: 81px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}
.section1{
    background-color: #41C2F4;
}
.wrapper{
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slider{
    width: 1000px;
    height: 100px;
    position: relative;
    display: flex;
    overflow: hidden;

}
.slide{
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 15s ease-in-out ;
    -webkit-animation: slideshow 15s ease-in-out ;
}
.slide img{
   height: 100px;
   padding: 0 40px 0 40px;  
}
@keyframes slideshow{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.arrowLeft{
  position: absolute;
  left: 20%;
  width: 40px;
  height: 40px;
  top: 95%;
  margin: -20px 0 0 -20px;
  transform: rotate(135deg);
  border-left: none;
  border-top: none;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
  cursor: pointer;
 /*box-shadow: -4px 4px 1px 1px #69DC8A;*/
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.arrowRight{
    position: absolute;
    right: 20%;
    width: 40px;
    height: 40px;
    top: 95%;
    margin: -20px 0 0 -20px;
    transform: rotate(-40deg);
    border-left: none;
    border-top: none;
    border-right: 2px #000 solid;
    border-bottom: 2px #000 solid;
    cursor: pointer;
    /*box-shadow: -4px 4px 1px 1px #69DC8A;
    */-webkit-transform: rotate(135deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
}
.arrowLeft:hover, .arrowRight:hover{
    border-right: 2px #69DC8A solid;
    border-bottom: 2px #69DC8A solid;
}
.subtext{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.typeTravel{
    width: 150px;
    height: 70px;
    font-weight: bold;
    color: #fff;
    background-color: #F9B532;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 0;
    border: #000 solid 3px;
    border-radius: 15px;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.typeTravel2{
    width: 150px;
    height: 70px;
    font-weight: bold;
    color: #fff;
    background-color: #69DC8A;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 0;
    border-radius: 15px;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.subtext a{
    color: #fff;
    text-decoration: none;
}
.form{
    width: 65%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: #000 solid 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:15px;
    box-shadow: #69DC8A -10px 10px 2px 1px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}
.form input{
    height: 50px;
    border: #000 solid 1px;
    border-radius: 15px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
button{
    background-color:#F9B532;
    padding: 10px;
    margin: 15px;
    border:none;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: -10px 10px 2px 1px  black;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.search input{
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    width: 500px;
    height: 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.date input{
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    width: 240px;
    height: 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}