@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
h1{
    text-align: center;
    font-size: 81px;
    margin-top: 50px;
    margin-bottom: 1em;
    font-weight: 500;
}
.section1{
    background-color: #41C2F4;
}
.wrapper{
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slider{
    width: 1000px;
    height: 100px;
    position: relative;
    display: flex;
    overflow: hidden;

}
.slide{
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 15s  infinite;
    -webkit-animation: slideshow 15s  infinite;
}
.slide img{
   height: 100px;
   padding: 0 40px 0 40px;  
}
@keyframes slideshow{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.arrowLeft{
  position: absolute;
  left: 20%;
  width: 40px;
  height: 40px;
  top: 75%;
  margin: -20px 0 0 -20px;
  transform: rotate(135deg);
  border-left: none;
  border-top: none;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
  cursor: pointer;
 /*box-shadow: -4px 4px 1px 1px #69DC8A;*/
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.arrowRight{
    position: absolute;
    right: 20%;
    width: 40px;
    height: 40px;
    top: 75%;
    margin: -20px 0 0 -20px;
    transform: rotate(-40deg);
    border-left: none;
    border-top: none;
    border-right: 2px #000 solid;
    border-bottom: 2px #000 solid;
    cursor: pointer;
    /*box-shadow: -4px 4px 1px 1px #69DC8A;
    */-webkit-transform: rotate(135deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
}