@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
h1{
    text-align: left;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 17%;
    font-weight: 500;
}
.section1{
    background-color: #41C2F4;
    height: 100vh;
}

/*partie catégories des tris */
.subtext{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.typeTravel{
    width: 150px;
    height: 50px;
    font-weight: bold;
    color: #fff;
    background-color: #F9B532;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 0;
    border: #000 solid 3px;
    border-radius: 15px;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.typeTravel2{
    width: 150px;
    height: 50px;
    font-weight: bold;
    color: #fff;
    background-color: #69DC8A;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 0;
    border-radius: 15px;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.subtext a{
    color: #fff;
    text-decoration: none;
}
.form{
    width: 65%;
    height: 300px;
    margin: 0 auto;
    border: #000 solid 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:15px;
    box-shadow: #69DC8A -10px 10px 2px 1px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}
.form input{
    height: 40px;
    border: #000 solid 1px;
    border-radius: 15px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
button{
    background-color:#F9B532;
    padding: 10px;
    margin: 20px;
    float: right;
    border:none;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: -10px 10px 2px 1px  black;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.search input{
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    width: 45%;
    height: 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.date input{
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    width: 240px;
    height: 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/*partie nos meilleures offres */
.offer img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: -10px 10px 2px 1px  black;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
/*catégorie avantage*/

.avantage{
    background-color: #69DC8A;
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
}
.avantages{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.possible{
    width: 200px;
    height: 200px;
    flex-direction: column;
    text-align: center;
}
.possible p{
    width: 215px;
}
.possible img{
    height: 70px;
}
h3{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 50px;
}
/*partie newsletter*/
.newsletter{
    width: 100%;
    background-color: #41C2F4;
    margin-bottom: 50px;

}
.news{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.newsletter img{
    height: 20px;   
}
.newsletter button{
    background-color: #F9B532;
    box-shadow: none;
    padding: 10px;
    margin: 0;
    margin-top: 5px;
    float: right;
    border:none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}
.newsletter input{
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 0;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    width: 400px;
    height: 30px;
}
p img{
    margin-left: 5px;
    margin-top: 5px;
}







