*{
    box-sizing: border-box;
}
nav{
    /*mettre le logo au centre*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100px;
} 
.logo img{
    
   
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;

}
