.navbar span{
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

body{
  background-color: #f5f5f5;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider{
  width: 850px;
  height: 100px;
  position: relative;
  
  display: flex;
  overflow: hidden;
}

.slide{
  height: 100px;
  display: flex;
  align-items: center;
}

.slide svg{
  height: 70px;
  padding: 0 30px 0 30px;
}


.slider ::before, .slider ::after{
  height: 100px;
  width : 200px;
  position: absolute;
  content: "";
  
  z-index: 2;
}

.slider ::before{
  top: 0;
  left: 0;
}

.slider ::after{
  top: 0;
  right: 0;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
}

.arrowLeft{
  left: 20%;
  width: 40px;
  height: 40px;
  top: 95%;
  margin: -20px 0 0 -20px;
  transform: rotate(135deg);
  border-left: none;
  border-top: none;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
  cursor: pointer;
 /*box-shadow: -4px 4px 1px 1px #69DC8A
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}*/}
.arrowRight{
    right: 20%;
    width: 40px;
    height: 40px;
    top: 95%;
    margin: -20px 0 0 -20px;
    transform: rotate(-40deg);
    border-left: none;
    border-top: none;
    border-right: 2px #000 solid;
    border-bottom: 2px #000 solid;
    cursor: pointer;
    /*box-shadow: -4px 4px 1px 1px #69D
    -webkit-transform: rotate(135deg)
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);*/
}
#campagne:hover path:nth-child(2),
#campagne:hover path:first-child {
fill: #41C2F4;
stroke: #41C2F4;
}





#mer:hover path:nth-child(5),
#mer:hover path:first-child {
fill: #41C2F4;
}

#montagne:hover path:nth-child(2),
#montagne:hover path:first-child {
fill: #41C2F4;
stroke: #41C2F4;
}

#foret:hover path:nth-child(3),
#foret:hover path:first-child,
#foret:hover path:nth-child(4) {
fill: #41C2F4;
stroke: #41C2F4;
}

#bus:hover circle,
#bus:hover path:first-child {
fill: #41C2F4;

}

#bateau:hover path:nth-child(2),
#bateau:hover path:nth-child(3),
#bateau:hover path:first-child {
fill: #41C2F4;

}

#camping:hover path:nth-child(2),
#camping:hover path:nth-child(3),
#camping:hover path:first-child {
fill: #41C2F4;
stroke: #41C2F4;

}
/* 
svg {
  height: auto;
  width: 80px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
} */







.slide path:first-child:hover {


  fill: #41C2F4;

}
